//main: style.scss
.popup{
  position: absolute;
  top: 5px;
  left: 5px;
}
.popup_languages{
  position: absolute;
  color:black;
  font-size: 1.3rem;
  @include flex(space-around, center, row);
  list-style: none;
  width: 120px;
  border-radius: 5px;
  .languages__tab{
    cursor: pointer;
    color:black;
  }
}