//main: style.scss

.popup{
  position: absolute;
  top: 34px;
  left: 20px;
  @media screen and (max-width:900px) {
    top: 0px;
    left: 5px;

  }
}
.popup_languages {
  @include flex(space-around, center, column);
  color: black;
  font-size: 1.3rem;
  list-style: none;
  border-radius: 5px;
  .languages__tab {
    cursor: pointer;
    color: black;
    margin: 3px;
  }
}
.popup_languages li:hover {
  color: #ff26a5;
}
